

<body>
<app-navbar></app-navbar>
<div class="container text-center mt-3">
  <div class="col-md-4 offset-md-4">
    <div class="card text-center">
      <div class="profile_box">
    <img class=  "card-img-top profile " src="..\assets\mypic.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h2 class="card-title"><strong> Anjali Pare</strong></h2>
      <p class="card-text">Software Engineer</p>
      <p> @Metamagic Global Inc.</p>
    </div>
  </div>
  </div>
</div>
</div>
<br>
<hr>

<div>
<div class="card-columns">
    <div class="card bg-danger">
      <div class="card-body text-center">
        <p class="card-text">Contact No:</p>
        <p class="card-text">+918987675644</p>
        <p class="card-text">+917865434554</p>
        <p class="card-text">+919988776655</p>
      </div>
    </div>
    <div class="card bg-warning">
      <div class="card-body text-center">
        <p class="card-text">Email-ID</p>
        <br>
        <p>Restaurantmanageranjali@redimail.com</p>
      </div>
    </div>
    <div class="card bg-danger">
      <div class="card-body text-center">
        <p class="card-text"><a href="https://www.youtube.com/channel/UCBShhE9A57vMN7i10pBxNLw "  target="_blank" >You-Tube
        </a> Profile</p>
        <br>
        
<p class="card-text"><a href="https://www.instagram.com/anjali_pare/?hl=en" target="_blank">Instagram
</a>Profile</p>
<br>
<p class="card-text"><a href="https://www.facebook.com/anjali.pare.98" target="_blank">Facebook
</a>Profile</p>

       
      </div>
    </div>
    <br>
      </div>
    </div>
</body>