<!-- <a routerLink="/register">Register Here</a>
<br>
<br>
<a routerLink="/login">Login Here</a>
<br>
<a routerLink="/home">Home</a>
 -->






  <router-outlet></router-outlet>

  <!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->


  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h4 class="text-uppercase font-weight-bold">Company name</h4>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
      <h3>
        Reliable Restaurants.
      </h3>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h4 class="text-uppercase font-weight-bold">Products</h4>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">1. Meat Items such as Beef, Pork, Veal and Lamb.</a>
        </p>
        <p>
          <a href="#!">2. Poultry.</a>
        </p>
        <p>
          <a href="#!">3. Dairy and Produce.</a>
        </p>
        <p>
          <a href="#!">4. Frozen Fruits and Vegetables. </a>
        </p>
        <p>
          <a href="#!">5. Dry Products. </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h4 class="text-uppercase font-weight-bold">Useful links</h4>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h4 class="text-uppercase font-weight-bold">Contact</h4>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <mat-icon>home</mat-icon>India, 10012
        </p>
        <p>
          <mat-icon>email</mat-icon> reliableresto123@gmail.com
        </p>
        <p>
          <mat-icon>call</mat-icon>+ 01 234 567 88
        </p>
        <p>
          <mat-icon>ring_volume</mat-icon> + 01 234 567 88
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://mdbootstrap.com/"> By Anjali Pare</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
